
@font-face {
    font-family:"Kurale";
    src:url("10369.woff2") format("woff2"),url("10369.woff") format("woff"),url("10369.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        