$primary : #ffffff; // Желтый
$secondary : #390054; // Темно-красный
$third : #000; // Черный
$fourth : #fff;
$five: #0359a2; // Синий
$six: #0090cc; // Голубой
$seven: #733f2b; // Красный
$eight: #0a903c; // Зеленый
$nine: #ff0000;

$error : $third;
$success : $fourth;