/*=============================
=            Fonts            =
=============================*/

@font-face {
    font-family: "ft22 Normal";
    src: local("ft22 Normal"),
    url("../fonts/ft22/ft22.woff2") format("woff2"),
    url("../fonts/ft22/ft22.woff") format("woff");
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family: "Kurale";
    src: local("Kurale"),
    url("../fonts/Kurale/Kurale.woff2") format("woff2"),
    url("../fonts/Kurale/Kurale.woff") format("woff");
    font-style:normal;
    font-weight:400;
}

$primary-font:          "Kurale";
$primary-font-second:   "Kurale";
$heading-font:          "ft22 Normal";
$heading-font-second:   "ft22 Normal";

$body-font-color     : $secondary;

$body-font-size      : 1rem !default;
$body-font-weight    : normal !default;
$body-line-height    : 1.2 !default;
$heading-line-height : 1.2 !default;

$heading-font-modular : 1vw !default;

$bourbon: (
        "modular-scale-base": $heading-font-modular,
        "modular-scale-ratio": $major-third,
);

$font-size-base:    $body-font-size !default;
$font-size-large:   calc(#{$body-font-size} + 0.3rem) !default; // ~18px
$font-size-small:   calc(#{$body-font-size} - 0.15rem) !default; // ~14px

$font-size-h1:      calc(#{$body-font-size} + 5vmin) !default; // ~3rem 48px modular-scale(6)
$font-size-h2:      calc(#{$body-font-size} * 2.5) !default; // ~2.5rem 40px modular-scale(5)
$font-size-h3:      calc(#{$body-font-size} + 0.6rem) !default; // ~2rem 33px
$font-size-h4:      calc(#{$body-font-size} + 1vmin) !default; // ~1.728rem 28px
$font-size-h5:      calc(#{$body-font-size} + 0.75vmin) !default; // ~1.44rem 23px
$font-size-h6:      calc(#{$body-font-size} + 0.5vmin) !default; // ~1.2rem 19px

%px {
    font: {
        family: $primary-font;
        weight: $body-font-weight;
        size: $font-size-large;
    };
    line-height: $body-line-height;
    color: $body-font-color;
    margin: 0;
    //text-indent: 1rem;

    @include grid-media($XXLarge) {
        font-size: $font-size-large;
    }

    @include grid-media($XLarge) {
        font-size: $font-size-large;
    }

    @include grid-media($Large) {
        font-size: $font-size-large;
    }

    @include grid-media($Medium) {
        font-size: $font-size-large;
        //line-height: 1;
    }

    @include grid-media($HSmall) {
        font-size: $font-size-small;
    }

    @include grid-media($XSmall) {
        font-size: $font-size-base;
    }

    @include grid-media($Small) {
        font-size: $font-size-base;
        //line-height: 1.1;
    }
}

%hx {
    font: {
        family: $heading-font-second;
        weight: 500;
    };
    //letter-spacing: 0.04em;
    line-height: $heading-line-height;
    text-transform: uppercase;
    margin: 0;
}
/*=====  End of Fonts  ======*/

h1 {
    @extend %hx;
    font-family: $heading-font;
    font-size: $font-size-h1;
    color: $primary;
    letter-spacing: 0.2rem;
    //margin-bottom: 1em;
    //text-align: center;
    //transition: all .3s;

    @include grid-media($Small) {
        font-size: calc(1rem + 4vmin);
    }
}

h2 {
    @extend %hx;
    font-family: $heading-font;
    font-size: $font-size-h2;
    color: $primary;
    letter-spacing: 0.2rem;

    @include grid-media($Small) {
        font-size: calc(1rem + 2vmin);
    }
}

h3 {
    @extend %hx;
    font-size: $font-size-h3;
    color: $primary;

    @include grid-media($Small) {
        font-size: calc(1rem + 2vmin);
    }
}

h4 {
    @extend %hx;
    font-size: $font-size-h4;
    line-height: 0.2;
}

h5 {
    @extend %hx;
    font-size: $font-size-h5;
}

h6 {
    @extend %hx;
    font-size: $font-size-h6;
}

.large-text {
    font-size: $font-size-large;
}

.small-text {
    font-size: $font-size-small;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    //margin-left: 0.9rem;
    //padding-left: -0.9rem;

    li {
        font-size: $font-size-base;
    }

    //@include grid-media($XXLarge) {
    //    li {
    //        font-size: $font-size-large;
    //    }
    //}
    //
    //@include grid-media($XLarge) {
    //    li {
    //        font-size: $font-size-large;
    //    }
    //}
    //
    //@include grid-media($Large) {
    //    li {
    //        font-size: $font-size-large;
    //    }
    //}
    //
    //@include grid-media($Medium) {
    //    margin-left: 0.6rem;
    //    padding-left: -0.6rem;
    //
    //    li {
    //        font-size: $font-size-small;
    //    }
    //}
    //
    //@include grid-media($HSmall) {
    //    margin-left: 0.6rem;
    //    padding-left: -0.6rem;
    //
    //    li {
    //        font-size: $font-size-small;
    //    }
    //}
    //
    //@include grid-media($XSmall) {
    //    margin-left: 0.6rem;
    //    padding-left: -0.6rem;
    //
    //    li {
    //        font-size: $font-size-base;
    //    }
    //}
    //
    //@include grid-media($Small) {
    //    margin-left: 0.9rem;
    //    padding-left: -0.9rem;
    //
    //    li {
    //        font-size: $font-size-base;
    //    }
    //}
}

a {
    color: $primary;
    text-decoration: none;
    transition: color $base-duration, background $base-duration;
    outline: none;

    // &:active,
    // &:focus,
    // &:hover {
    //     //color: $action-color;
    // }
}